<!-- <section class="products-section" id="products">
  <div class="products-section-container container"></div>
  <div class="products-header-wrap">
    <p class="products-first-header">100% natural</p>
    <h2 class="products-second-header">products</h2>
  </div>
  <ul class="products-card-list">
    <li class="products-card icecream">
      <div class="products-card-1">
        <div class="products-card-items-wrapper icecream-wrapper">
          <h3 class="products-card-header icecream-header">Ice Cream</h3>
          <svg width="25" height="6" class="products-card-icon">
            <use href="./images/icons-contacts.svg#dots"></use>
          </svg>
          <p class="products-card-paragraph">
            Indulge in our rich and creamy ice cream, handcrafted with
            all-natural ingredients and available in a variety of flavors.
          </p>
          <button class="products-card-button" type="button">
            <svg width="12" height="12" class="products-card-button-icon">
              <use href="./images/icons-contacts.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="products-card icecoffee">
      <div class="products-card-2">
        <div class="products-card-items-wrapper">
          <h2 class="products-card-header icecoffee-header">Ice Coffee</h2>
          <svg width="25" height="6" class="products-card-icon">
            <use href="./images/icons-contacts.svg#dots"></use>
          </svg>
          <p class="products-card-paragraph">
            Refresh and energize with our perfectly brewed iced coffee, made
            with high-quality beans and served over ice.
          </p>
          <button class="products-card-button" type="button">
            <svg width="12" height="12" class="products-card-button-icon">
              <use href="./images/icons-contacts.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="products-card milkshake">
      <div class="products-card-3">
        <div class="products-card-items-wrapper milkshake-wrapper">
          <h2 class="products-card-header milkshake-header">Milkshake</h2>
          <svg width="26" height="6" class="products-card-icon">
            <use href="./images/icons-contacts.svg#dots"></use>
          </svg>
          <p class="products-card-paragraph">
            Satisfy your sweet tooth with our thick, made with premium ice
            cream, topped with whipped cream and your favorite toppings.
          </p>
          <button class="products-card-button" type="button">
            <svg width="12" height="12" class="products-card-button-icon">
              <use href="./images/icons-contacts.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
  </ul>
</section> -->
<section class="products-section" id="products">
  <div class="products-div">
    <div class="titles-products">
      <p class="products-paragrapgh">100% natural</p>
      <h2 class="products-title">PRODUCTS</h2>
    </div>
    <div class="products-card">
      <div class="product1">
        <h3 class="icecream-title">ICE CREAM</h3>
        <svg class="dots-product dots-product-icecream">
          <use href="./images/products/icons-contacts.svg#dots"></use>
        </svg>
        <p class="icecream-paragraph">
          Indulge in our rich and creamy ice cream, handcrafted with all-natural
          ingredients and available in a variety of flavors.
        </p>
        <div class="icons">
          <svg class="arrow-right-product">
            <use href="./images/products/icons-contacts.svg#arrow-right"></use>
          </svg>
        </div>
        <div class="product-overlay">
          <p class="product-text">
            Strawberries, cream, sugar, milk, egg yolks, vanilla extract, lemon
            juice, condensed milk, fresh strawberry puree, strawberry jam.
          </p>
        </div>
      </div>
      <div class="product2">
        <h3 class="coffee-title-product">ICE COFFEE</h3>
        <svg class="dots-product dots-product-icecoffee">
          <use href="./images/products/icons-contacts.svg#dots"></use>
        </svg>
        <p class="coffee-paragrapht">
          Refresh and energize with our perfectly brewed iced coffee, made with
          high-quality beans and served over ice.
        </p>
        <div class="icons">
          <svg class="arrow-right-product">
            <use href="./images/products/icons-contacts.svg#arrow-right"></use>
          </svg>
        </div>
        <div class="product-overlay">
          <p class="product-text">
            Coffee, ice cubes, milk, sweetener, whipped cream, chocolate syrup,
            vanilla extract, caramel drizzle, cinnamon powder, almond milk.
          </p>
        </div>
      </div>
      <div class="product3">
        <h3 class="milkshake-title-product">MILKSHAKES</h3>
        <svg class="dots-product dots-product-milkshake">
          <use href="./images/products/icons-contacts.svg#dots"></use>
        </svg>
        <p class="milkshake-paragraph">
          Satisfy your sweet tooth with our thick, made with premium ice cream,
          topped with whipped cream and your favorite toppings.
        </p>
        <div class="icons">
          <svg class="arrow-right-product">
            <use href="./images/products/icons-contacts.svg#arrow-right"></use>
          </svg>
        </div>
        <div class="product-overlay">
          <p class="product-text">
            Ice cream, milk, flavored syrup (chocolate), whipped cream, cherry
            for topping, bananas, cookies, nut butter, chocolate chips,
            sprinkles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
