<section class="products-section" id="products">
  <div class="products-div">
    <div class="titles-products">
      <p class="products-paragrapgh">100% natural</p>
      <h2 class="products-title">PRODUCTS</h2>
    </div>
    <div class="products-card">
      <div class="product1">
        <h3 class="icecream-title">ICE CREAM</h3>
        <svg class="dots-product">
          <use href="./images/products/symbol-defs.svg#icon-dots-dots"></use>
        </svg>
        <p class="icecream-paragraph">
          Indulge in our rich and creamy ice cream, handcrafted with all-natural
          ingredients and available in a variety of flavors.
        </p>
        <div class="icons">
          <svg class="arrow-right-product">
            <use
              href="./images/products/symbol-defs.svg#icon-arrow-small"
            ></use>
          </svg>
        </div>
        <div class="product-overlay">
          <p class="product-text">
            Strawberries, cream, sugar, milk, egg yolks, vanilla extract, lemon
            juice, condensed milk, fresh strawberry puree, strawberry jam.
          </p>
        </div>
      </div>
      <div class="product2">
        <h3 class="coffee-title-product">ICE COFFEE</h3>
        <svg class="dots-product">
          <use href="./images/products/symbol-defs.svg#icon-dots-dots"></use>
        </svg>
        <p class="coffee-paragrapht">
          Refresh and energize with our perfectly brewed iced coffee, made with
          high-quality beans and served over ice.
        </p>
        <div class="icons">
          <svg class="arrow-right-product">
            <use
              href="./images/products/symbol-defs.svg#icon-arrow-small"
            ></use>
          </svg>
        </div>
        <div class="product-overlay">
          <p class="product-text">
            Coffee, ice cubes, milk, sweetener, whipped cream, chocolate syrup,
            vanilla extract, caramel drizzle, cinnamon powder, almond milk.
          </p>
        </div>
      </div>
      <div class="product3">
        <h3 class="milkshake-title-product">MILKSHAKES</h3>
        <svg class="dots-product">
          <use href="./images/products/symbol-defs.svg#icon-dots-dots"></use>
        </svg>
        <p class="milkshake-paragraph">
          Satisfy your sweet tooth with our thick, made with premium ice cream,
          topped with whipped cream and your favorite toppings.
        </p>
        <div class="icons">
          <svg class="arrow-right-product">
            <use
              href="./images/products/symbol-defs.svg#icon-arrow-small"
            ></use>
          </svg>
        </div>
        <div class="product-overlay">
          <p class="product-text">
            Ice cream, milk, flavored syrup (chocolate), whipped cream, cherry
            for topping, bananas, cookies, nut butter, chocolate chips,
            sprinkles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
