// :root {
//   --header-font: 'Titan One', sans-serif;
//   --main-font: 'DM Sans', sans-serif;
//   --coral-pink-headers: #ffa5ba;
//   --dark-red-brand-color: #d41443;
//   --bgc-products_first-color: #ffb8ca;
//   --bgc-products_second-color: #f0d1a5;
//   --bgc-products_third-color: #c2e297;
//   --white-text-color: #fff;
//   --light-coral-background-color: #fff5f6;
//   --black-color: #000;
//   --gray-color: #e1e1e1;
//   --brown-color: #907e82;
// }

// // :root {
// //   --white-text-color: #ffffff;
// //   --red-text-color: #d41443;
// //   --cream-text-color: #ffa5ba;
// //   --black-text-color: #000000;
// //   --gray-text-color: #907e82;
// //   --light-pink-color: #fff5f6;
// //   --products-first-color: #ffb8ca;
// //   --yellow-color: #f0d1a5;
// //   --green-color: #c2e297;
// //   --footer-btn-red-color: #d41342;
// //   --modal-color: #e17992;
// //   --icon-color: #fea5bb;
// //   --font-main: 'Titan One', 'sans-serif';
// //   --font-secondary: 'DM Sans', 'sans-serif';
// //   --bgc-contacts_first-color: #f0d1a5;
// //   --bgc-contacts_second-color: #c2e297;
// // }

// body {
//   font-family: var(--main-font);
// }

// // decoration styles products

// .products-header-wrap {
//   font-family: var(--header-font);
// }

// .products-first-header {
//   color: var(--coral-pink-headers);
//   text-transform: uppercase;
//   font-weight: 400;
//   margin: 0;
//   text-align: center;
//   font-family: 'Titan One', sans-serif;
//   font-size: 18px;
//   line-height: normal;
//   letter-spacing: 1.2px;
//   line-height: normal;
//   transition-property: transform;
//   transition-duration: 250ms;
//   transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
//   position: relative;
// }

// .products-first-header:hover,
// .products.first-header:focus {
//   transform: scale(1.5);
// }

// .products-second-header {
//   color: var(--dark-red-brand-color);
//   text-transform: uppercase;
//   font-size: 34px;
//   margin: 0;
//   text-align: center;
//   font-family: 'Titan One', sans-serif;
//   font-size: 34px;
//   font-weight: 400;
//   line-height: normal;
//   letter-spacing: 3.48px;
//   transition-property: transform;
//   transition-duration: 250ms;
//   transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
// }

// .products-second-header:hover,
// .products-second-header:focus {
//   transform: scale(1.5);
// }

// .container {
//   width: 100%;
//   margin: auto;
//   padding: 0 20px;
// }

// .products-section-container {
//   padding: 60px 20px;
// }

// .products-card-list {
//   list-style-type: none;
//   display: flex;
//   flex-direction: column;
//   gap: 0px;
//   align-items: center;
// }

// .products-card {
//   width: 280px;
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   justify-content: center;
//   align-items: center;
//   padding-left: 32px;
//   padding-right: 32px;
//   border-radius: 24px;
//   border: none;
//   transition-property: transform, background-color, box-shadow;
//   transition-duration: 250ms;
//   transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
//   margin-top: 80px;
//   min-height: 489px;
// }

// .products-card:hover {
//   transform: scale(1.05);
//   box-shadow: 0 1px 2px rgba(196, 56, 56, 0.207), 0 2px 4px rgba(0, 0, 0, 0.07),
//     0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
//     0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
// }

// .products-card-image {
//   width: 280px;
//   height: 280px;
//   flex-shrink: 0;
//   border: none;
// }

// .products-card-items-wrapper {
//   display: flex;
//   flex-direction: column;
//   gap: 32px;
//   align-items: center;
//   justify-content: center;
//   padding-left: 32px;
//   padding-right: 32px;
//   border-radius: 24px;
//   padding-bottom: 40px;
//   padding: 0;
// }

// .products-card-header {
//   color: var(--white-text-color);
//   text-align: center;
//   font-family: 'Titan One', sans-serif;
//   font-size: 20px;
//   font-weight: 400;
//   line-height: normal;
//   letter-spacing: 0.8px;
//   text-transform: uppercase;
// }

// .products-card-icon {
//   fill: var(--white-text-color);
// }

// .products-card-paragraph {
//   color: var(--white-text-color);
//   text-align: center;
//   font-family: 'DM Sans', sans-serif;
//   font-size: 14px;
//   font-weight: 700;
//   line-height: 176%;
//   letter-spacing: 0.56px;
// }

// .product-photos {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 32px;
// }

// .icecoffee {
//   background-color: var(--bgc-products_second-color);
//   transition-property: background-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
// }

// .icecoffee:hover,
// .icecoffee:focus {
//   background-color: #cb9c5bb1;
// }

// .products-card-2:nth-child(2):before {
//   content: '';
//   position: absolute;
//   left: 50%;
//   -webkit-transform: translateX(-50%);
//   -ms-transform: translateX(-50%);
//   transform: translateX(-50%);
//   z-index: 1;
//   width: 280px;
//   height: 280px;
//   background-image: url(../images/icecoffee.jpg);
//   background-size: 280px 280px;
//   bottom: 350px;
// }

// .icecream {
//   background-color: var(--bgc-products_first-color);
//   transition-property: background-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
// }

// .icecream:hover,
// .icecream:focus {
//   background-color: #e5a7b8;
// }

// .milkshake {
//   background-color: var(--bgc-products_third-color);
//   transition-property: background-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
// }

// .milkshake:hover,
// .milkshake:focus {
//   background-color: #b2ce8c;
// }

// .products-card-button {
//   border-radius: 50%;
//   background-color: var(--white-text-color);
//   min-width: 40px;
//   min-height: 40px;
//   border: none;
//   transition-property: transform, background-color, border-radius;
//   transition-duration: 250ms;
//   transition-timing-function: cubic bezier(0.4, 0, 0.2, 1);
// }

// .products-card:hover .products-card-button {
//   transform: rotate(-90deg) scale(1.05);
//   background-color: var(--dark-red-brand-color);
//   border-radius: 15px;
// }

// .products-card-button-icon {
//   fill: #d41443;
// }

// .products-card:hover .products-card-button-icon {
//   fill: white;
// }

// @media screen and (768px <= width < 1200px) {
//   .products-header-wrap {
//     margin-bottom: 20px;
//   }

//   .products-first-header {
//     font-size: 26px;
//   }

//   .products-second-header {
//     font-size: 48px;
//   }

//   .products-card-list {
//     flex-direction: row;
//     gap: 16px;
//     justify-content: center;
//   }

//   .products-section-container {
//     padding-left: 32px;
//     padding-right: 32px;
//   }

//   .products-card {
//     width: 224px;
//   }

//   .products-card-image {
//     width: 224px;
//     height: 224px;
//   }

//   .products-card-paragraph {
//     width: 188px;
//     height: 150px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .products-first-header {
//     font-size: 30px;
//   }

//   .products-second-header {
//     font-size: 58px;
//   }

//   .products-card-list {
//     flex-direction: row;
//     gap: 32px;
//     justify-content: center;
//   }

//   .products-card-paragraph {
//     font-size: 16px;
//   }

//   .products-card-header {
//     font-size: 30px;
//   }

//   .products-section-container {
//     padding-left: 16px;
//     padding-right: 16px;
//   }

//   .products-header-wrap {
//     margin-bottom: 20px;
//   }

//   .products-card {
//     width: 368px;
//   }

//   .products-card-image {
//     width: 368px;
//     height: 394px;
//   }
// }

// p,
// h2,
// h3 {
//   margin: 0;
// }

// ul {
//   margin: 0;
//   padding: 0;
// }

// .link {
//   text-decoration: none;
// }

.products-section {
  width: 100%;
  background: var(--white-text-color);
}

.titles-products {
  display: block;
}

.products-div {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: block;
  width: 100%;
  background: var(--white-text-color);
}

.products-paragrapgh {
  color: var(--cream-text-color);
  text-align: center;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 60px;
  transition: transform 250ms ease-in-out;
}

.products-paragrapgh:hover {
  -webkit-animation: springy-text;
  animation: springy-text;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform: scale(1.3);
}

.products-title {
  height: 36px;
  color: var(--red-text-color);
  text-align: center;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-top: 15px;
  font-family: var(--font-main);
  font-size: 34px;
  font-weight: 400;
  transition: transform 250ms ease-in-out;
  margin-bottom: 40px;
}

.products-title:hover {
  -webkit-animation: springy-text;
  animation: springy-text;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  cursor: default;
  transform: scale(1.3);
}

.products-card {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 8px;
  display: block;
  position: relative;
}

.product1 {
  width: 280px;
  height: 489px;
  background: var(--products-first-color);
  border-radius: 24px;
  margin-top: 148px;
  margin-bottom: 60px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  transition: transform 250ms ease-in-out;
}

.product1:hover {
  transform: scale(1.03);
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 92, 94, 0.15);
  border-radius: 24px;
  z-index: 0;
  opacity: 0;
  -webkit-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: opacity, -webkit-box-shadow;
  transition-property: opacity, -webkit-box-shadow;
  -o-transition-property: opacity, box-shadow;
  transition-property: opacity, box-shadow;
  transition-property: opacity, box-shadow, -webkit-box-shadow;
}

.product1:hover .product-overlay {
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 0 5px 15px rgba(144, 35, 62, 0.632);
  box-shadow: 0 5px 15px rgba(144, 35, 62, 0.632);
}

.product1:hover .icecream-paragraph {
  visibility: hidden;
}

.product1:hover .icecream-title {
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 29px;
  z-index: 1;
  position: absolute;
}
.product1:hover .arrow-right-product {
  cursor: pointer;
  z-index: 1;
  width: 49px;
  height: 25px;
  fill: var(--white-text-color);
  border-radius: 35%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.product1:hover .icons {
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: var(--red-text-color);
  border-radius: 35%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.product1:hover .dots-product {
  z-index: 1;
}

.icons {
  background-color: white;
}

.product-text {
  width: 216px;
  height: 124px;
  color: var(--white-text-color);
  text-align: center;
  letter-spacing: 0.56px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 700;
  line-height: 152%;
  padding-top: 256px;
}

.product1:first-child:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 400px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  width: 280px;
  height: 280px;
  background-image: url(../images/products//icecream.png);
  background-size: 280px 280px;
  z-index: 3;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url(../images/products/icecream2x.png);
  }
}

.strawberry-product {
  width: 280px;
  height: 280px;
  position: absolute;
  bottom: 350px;
}

.icecream-title {
  width: 174px;
  height: 23px;
  top: 130px;
  left: 50px;
  position: absolute;
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-text-color);
}

.icecream-dots-product {
  margin-top: -20px;
}

.dots-product::before {
  right: 10px;
  top: 0;
}

.dots-product::after {
  left: 10px;
  top: 0;
}

.dots-product {
  position: relative;
  margin: 0px auto;
  width: 270px;
  height: 225px;
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: z-index;
  -o-transition-property: z-index;
  transition-property: z-index;
  padding-top: 219px;
  font-family: var(--font-main);
  color: white;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: z-index;
  fill: white;
}

.dots-product::after,
.dots-product::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
}

.icecream-paragraph {
  width: 216px;
  height: 124px;
  color: var(--white-text-color);
  text-align: center;
  letter-spacing: 0.56px;
  margin-left: 32px;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 700;
  line-height: 152%;
  padding-top: 32px;
  margin-bottom: 50px;
}

.icons {
  width: 40px;
  height: 40px;
  background-color: var(--white-text-color);
  position: relative;
  margin-top: 32px;
  margin-left: 120px;
  border-radius: 50%;
}

.arrow-right-product {
  fill: var(--red-text-color);
  width: 38px;
  height: 17px;
  -webkit-transition: background-color 0.1s linear,
    -webkit-transform 0.1s linear;
  transition: background-color 0.1s linear, -webkit-transform 0.1s linear;
  -o-transition: background-color 0.1s linear, transform 0.1s linear;
  transition: background-color 0.1s linear, transform 0.1s linear;
  transition: background-color 0.1s linear, transform 0.1s linear,
    -webkit-transform 0.1s linear;
  position: absolute;
  top: 10px;
}

.product2 {
  width: 280px;
  height: 489px;
  background: var(--yellow-color);
  border-radius: 24px;
  margin-top: 148px;
  margin-bottom: 60px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  transition: transform 250ms ease-in-out;
}

.product2:hover {
  transform: scale(1.03);
}

.product2:hover .product-overlay {
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 0 5px 15px rgba(144, 35, 62, 0.632);
  box-shadow: 0 5px 15px rgba(144, 35, 62, 0.632);
}

.product2:hover .coffee-paragrapht {
  visibility: hidden;
}

.product2:hover .coffee-title-product {
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 28px;
  z-index: 1;
}
.product2:hover .arrow-right-product {
  cursor: pointer;
  z-index: 1;
  width: 49px;
  height: 25px;
  fill: var(--white-text-color);
  border-radius: 35%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.product2:hover .dots-product {
  z-index: 1;
}

.product2:hover .icons {
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: var(--red-text-color);
  border-radius: 35%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.coffee-product {
  width: 280px;
  height: 280px;
  position: absolute;
  bottom: 350px;
}

.product2:nth-child(2):before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  width: 280px;
  height: 280px;
  background-image: url(../images/products/icecoffee.png);
  background-size: 280px 280px;
  bottom: 350px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url(../images/products/icecoffee2x.png);
  }
}

.coffee-title-product {
  width: 174px;
  height: 23px;
  top: 130px;
  left: 50px;
  padding-top: 20px;
  padding-bottom: 32px;
  position: absolute;
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-text-color);
  padding-top: 32px;
}

.coffee-paragrapht {
  width: 220px;
  height: 124px;
  color: var(--white-text-color);
  text-align: center;
  letter-spacing: 0.56px;
  margin-left: 32px;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 700;
  line-height: 152%;
  padding-top: 32px;
}

.product3 {
  width: 280px;
  height: 489px;
  background: var(--green-color);
  border-radius: 24px;
  margin-top: 148px;
  margin-bottom: 60px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  transition: transform 250ms ease-in-out;
}

.product3:hover {
  transform: scale(1.03);
}

.product3:hover .product-overlay {
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 0 5px 15px rgba(144, 35, 62, 0.632);
  box-shadow: 0 5px 15px rgba(144, 35, 62, 0.632);
}

.product3:hover .milkshake-paragraph {
  visibility: hidden;
}

.product3:hover .milkshake-title-product {
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 29px;
  left: 41px;
  z-index: 1;
}
.product3:hover .arrow-right-product {
  cursor: pointer;
  z-index: 1;
  width: 49px;
  height: 25px;
  fill: var(--white-text-color);
  border-radius: 35%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.product3:hover .dots-product {
  z-index: 1;
}

.product3:nth-child(3):before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 350px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  width: 280px;
  height: 280px;
  background-image: url(../images/products/milkshake.png);
  background-size: 280px 280px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url(../images/products/milkshake2x.png);
  }
}

.product3:hover .icons {
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: var(--red-text-color);
  border-radius: 35%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.milkshake-product {
  width: 280px;
  height: 280px;
  position: absolute;
  bottom: 350px;
}
.milkshake-title-product {
  width: 174px;
  height: 23px;
  top: 130px;
  left: 50px;
  padding-top: 20px;
  padding-bottom: 32px;
  position: absolute;
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-text-color);
  padding-top: 32px;
}

.milkshake-paragraph {
  width: 219px;
  height: 124px;
  color: var(--white-text-color);
  text-align: center;
  letter-spacing: 0.56px;
  margin-left: 32px;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 700;
  line-height: 152%;
  padding-top: 32px;
  margin-bottom: 50px;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .product1:hover .arrow-right-product {
    cursor: pointer;
    z-index: 1;
    width: 49px;
    height: 25px;
    fill: var(--white-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .product1:hover .icons {
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: var(--red-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .product2:hover .arrow-right-product {
    cursor: pointer;
    z-index: 1;
    width: 49px;
    height: 25px;
    fill: var(--white-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .product2:hover .dots-product {
    z-index: 1;
  }

  .product2:hover .icons {
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: var(--red-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .product2:hover .dots-product {
    z-index: 1;
  }

  .products-section {
    width: 100%;
    background: var(--white-text-color);
  }

  .titles-products {
    display: block;
  }

  .products-paragrapgh {
    top: 562px;
    left: 89px;
    font-family: var(--font-main);
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--cream-text-color);
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 40px;
  }

  .products-title {
    height: 55px;
    top: 598px;
    left: 59px;
    font-family: var(--font-main);
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.04em;
    text-align: center;
    margin-top: 15px;
    color: var(--red-text-color);
  }

  .products-card {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product1 {
    position: relative;
    width: 224px;
    height: 473px;
    left: 0px;
    border-radius: 24px;
    background: var(--products-first-color);
    margin-left: 32px;
    margin-right: 16px;
    margin-top: 158px;
    margin-bottom: 60px;
  }

  .product-text {
    width: 216px;
    height: 124px;
    text-align: center;
    letter-spacing: 0.56px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 700;
    line-height: 176%; /* 24.64px */
    letter-spacing: 0.56px;
    padding-top: 200px;
  }

  .strawberry-product {
    width: 224px;
    height: 224px;
    position: absolute;
    bottom: 350px;
  }

  .icecream-title {
    width: 174px;
    height: 23px;
    top: 80px;
    left: 27px;
    padding-top: 32px;
    position: absolute;
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-text-color);
  }

  .dots-product {
    width: 26px;
    margin-top: auto;
    margin-left: 100px;
    top: auto;
    left: 0px;
    padding-top: 140px;
    height: 200px;
  }
  .icecream-paragraph {
    width: 213px;
    height: 150px;
    padding-top: 0px;
    padding-right: 22px;
    color: var(--white-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 700;
    line-height: 176%; /* 24.64px */
    letter-spacing: 0.56px;
    margin-left: 19px;
    margin-bottom: 0;
  }

  .product1:first-child:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 386px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    width: 224px;
    height: 224px;
    background-image: url(../images/products/icecream.png);
    background-size: 224px 224px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: url(../images/products/icecream2x.png);
    }
  }

  .icons {
    width: 40px;
    height: 40px;
    background-color: var(--white-text-color);
    border-radius: 50%;
    position: relative;
    margin-left: 92px;
    margin-bottom: 40px;
    margin-top: 32px;
  }

  .arrow-right-product {
    position: absolute;
  }

  .product2 {
    position: relative;
    width: 224px;
    height: 473px;
    border-radius: 24px;
    background: var(--yellow-color);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 158px;
    margin-bottom: 60px;
  }

  .product2:nth-child(2):before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 386px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    width: 224px;
    height: 224px;
    background-image: url(../images/products/icecoffee.png);
    background-size: 224px 224px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: url(../images/products/icecoffee2x.png);
    }
  }

  .coffee-product {
    width: 224px;
    height: 224px;
    position: absolute;
    bottom: 350px;
  }

  .coffee-title-product {
    width: 174px;
    height: 23px;
    top: 80px;
    left: 27px;
    padding-top: 32px;
    position: absolute;
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-text-color);
  }

  .coffee-paragrapht {
    width: 213px;
    height: 150px;
    padding-top: 0px;
    padding-right: 22px;
    color: var(--white-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 700;
    line-height: 176%; /* 24.64px */
    letter-spacing: 0.56px;
    margin-left: 19px;
  }

  .product3 {
    position: relative;
    width: 224px;
    height: 473px;
    border-radius: 24px;
    background: var(--green-color);
    margin-left: 16px;
    margin-right: 32px;
    margin-top: 158px;
    margin-bottom: 60px;
  }

  .product3:hover .product-overlay {
    cursor: pointer;
    opacity: 1;
    -webkit-box-shadow: 0 5px 15px rgba(144, 35, 62, 0.632);
    box-shadow: 0 5px 15px rgba(144, 35, 62, 0.632);
  }

  .product3:hover .milkshake-paragraph {
    visibility: hidden;
  }

  .product3:hover .milkshake-title-product {
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 29px;
    left: 10px;
  }
  .product3:hover .arrow-right-product {
    cursor: pointer;
    z-index: 1;
    width: 49px;
    height: 25px;
    fill: var(--white-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .product3:hover .icons {
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: var(--red-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .product3:nth-child(3):before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 386px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    width: 224px;
    height: 224px;
    background-image: url(../images/products/milkshake.png);
    background-size: 224px 224px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: url(../images/products/milkshake2x.png);
    }
  }

  .milkshake-product {
    width: 224px;
    height: 224px;
    position: absolute;
    bottom: 350px;
  }
  .milkshake-title-product {
    width: 174px;
    height: 23px;
    top: 80px;
    left: 27px;
    padding-top: 32px;
    position: absolute;
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-text-color);
  }

  .milkshake-paragraph {
    width: 210px;
    height: 150px;
    padding-top: 0px;
    padding-right: 22px;
    color: var(--white-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 700;
    line-height: 176%; /* 24.64px */
    letter-spacing: 0.56px;
    margin-left: 25px;
    margin-bottom: 0;
  }
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .products-section {
    width: 100%;
    background: var(--white-text-color);
  }

  .products-title {
    margin: 0;
  }

  .icons {
    width: 40px;
    height: 40px;
    background-color: var(--white-text-color);
    border-radius: 50%;
    position: relative;
    margin-left: 164px;
    margin-bottom: 60px;
    margin-top: 32px;
  }

  .product1:first-child:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 386px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    width: 368px;
    height: 394px;
    background-image: url(../images/products/icecream.png);
    background-size: 368px 394px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: url(../images/products/icecream2x.png);
    }
  }

  .product1:hover .arrow-right-product {
    cursor: pointer;
    z-index: 1;
    width: 49px;
    height: 25px;
    fill: var(--white-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .product1:hover .icons {
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: var(--red-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .product2:nth-child(2):before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 386px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    width: 368px;
    height: 394px;
    background-image: url(../images/products/icecoffee.png);
    background-size: 368px 394px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: url(../images/products/icecoffee2x.png);
    }
  }

  .product3:nth-child(3):before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 386px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    width: 368px;
    height: 394px;
    background-image: url(../images/products/milkshake.png);
    background-size: 368px 394px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: url(../images/products/milkshake2x.png);
    }
  }

  .titles-products {
    display: block;
  }

  .products-paragrapgh {
    color: var(--cream-text-color);
    text-align: center;
    font-family: var(--font-main);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-top: 60px;
  }
  .products-title {
    color: var(--red-text-color);
    text-align: center;
    font-family: var(--font-main);
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 3.48px;
    text-transform: uppercase;
    color: var(--red-text-color);
  }

  .products-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .product1 {
    position: relative;
    width: 368px;
    height: 535px;
    border-radius: 24px;
    background: var(--products-first-color);
    margin-left: 16px;
    margin-top: 281px;
  }

  .product1:hover .icecream-title {
    -webkit-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 33px;
  }

  .product-text {
    width: 304px;
    height: 134px;
    text-align: center;
    letter-spacing: 0.56px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
    padding-top: 270px;
  }

  .strawberry-product {
    width: 368px;
    height: 394px;
    position: absolute;
    bottom: 388px;
  }

  .icecream-title {
    width: 368px;
    height: 34px;
    top: 150px;
    left: 0px;
    position: absolute;
    font-family: var(--font-main);
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-text-color);
  }

  .dots-product {
    width: 26px;
    margin-top: 70px;
    margin-left: 170px;
    padding-top: 150px;
  }

  .icecream-paragraph {
    width: 325px;
    height: 134px;
    color: var(--white-text-color);
    text-align: center;
    letter-spacing: 0.64px;
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 176%;
    margin-left: 40px;
    margin-bottom: 0;
  }

  .arrow-right-product {
    position: absolute;
  }

  .product2 {
    position: relative;
    width: 368px;
    height: 535px;
    border-radius: 24px;
    background: var(--yellow-color);
    margin-top: 281px;
  }

  .product2:hover .coffee-title-product {
    -webkit-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 33px;
  }

  .product2:hover .arrow-right-product {
    cursor: pointer;
    z-index: 1;
    width: 49px;
    height: 25px;
    fill: var(--white-text-color);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: scale(0.5), rotate(-90deg);

    // transform: rotate(-90deg);
    // -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .icons {
    transition: transform 250ms ease-in-out, background-color 250ms ease-in-out,
      border-radius 250ms ease-in-out;
  }

  .product2:hover .icons {
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: var(--red-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform: rotate(-90deg);
  }

  .coffee-product {
    width: 368px;
    height: 394px;
    position: absolute;
    bottom: 388px;
  }

  .coffee-title-product {
    width: 368px;
    height: 34px;
    top: 150px;
    left: 0px;
    position: absolute;
    font-family: var(--font-main);
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-text-color);
  }

  .coffee-paragrapht {
    width: 324px;
    height: 134px;
    color: var(--white-text-color);
    text-align: center;
    letter-spacing: 0.64px;
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 176%;
    margin-left: 40px;
  }

  .product3 {
    position: relative;
    width: 368px;
    height: 535px;
    border-radius: 24px;
    background: var(--green-color);
    margin-right: 16px;
    margin-top: 281px;
  }

  .product3:hover .milkshake-title-product {
    -webkit-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 33px;
    left: 1px;
  }

  .milkshake-product {
    width: 368px;
    height: 394px;
    position: absolute;
    bottom: 388px;
  }
  .milkshake-title-product {
    width: 368px;
    height: 34px;
    top: 150px;
    left: 0px;
    position: absolute;
    font-family: var(--font-main);
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-text-color);
  }

  .milkshake-paragraph {
    color: var(--white-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
    width: 324px;
    height: 134px;
  }

  .product3:hover .arrow-right-product {
    cursor: pointer;
    z-index: 1;
    width: 49px;
    height: 25px;
    fill: var(--white-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .product3:hover .icons {
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: var(--red-text-color);
    border-radius: 35%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}

@media screen and (min-width: 1440px) {
  .products-section {
    width: 100%;
    background: var(--white-text-color);
  }
}

@media screen and (min-width: 2560px) {
  .products-section {
    width: 100%;
    background: var(--white-text-color);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}
